.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.color_box {
  height: 200px;
  width: 400px;
}

.btn_container {
  margin: 1rem 2rem;
}

button {
  padding: 0.4rem 0.8rem;
  margin: 0.2rem 0.4rem;
  font-size: 1.4rem;
}

.correct {
  color: green;
  font-size: 1.4rem;
}

.incorrect {
  color: red;
  font-size: 1.4rem;
}
